<div class="attendee-detail">
  <div class="name">
    <h2>name: <%= @attendee.name %> </h2>
  </div>
  <div class="profile">
    <h2>profile:</h2>
    <ul>
      <li>- <%= @attendee.web %></li>
      <li>- <%= @attendee.twitter %></li>
  </ul>
  </div>
</div>
