<div class="attendees">
<h1>hasbeen.at</h1>
<h3>events we have been at</h3>
  <ul>
    <% @attendees.each do |attendee| %>
      <li class='attendee'>
      <p class="bracket">[</p>
        <div class='attendee-picture'>
          <img src='<%= attendee.avatar %>' />
        </div>
        <div class='attendee-name'>
          <%= attendee.name %>
        </div>
        <p class="bracket">]</p>
      </li>
    <% end %>
  </ul>
</div>
