// Place all the styles related to the attendees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation'
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300)

$value-color: #810051
*
  font-family: 'Ubuntu', sans-serif
.main-heading
  @include grid-column(12)
  a, a:visited
    color: #540006
.attendees
  @include grid-row()
  .heading
    @include grid-column(12)
  .attendee
    list-style-type: none
    .attendee-name
      @include grid-column(12)
      font-size: 20px
      a
        color: $value-color
        margin: 0px
        padding: 0px

.attendee-detail
  @include grid-row()
  .property
    font-size: 20px
  .value
    color: $value-color
    font-size: 20px
    a
      color: #810051
    a:visited
      color: #810051
  .avatar
    @include grid-column(12)
    img
      @include thumb
      margin-top: 10px
  .name
    @include grid-column(12)
    margin-top: 10px
  .profile
    @include grid-column(12)
    margin-top: 10px
    ul
      list-style-type: none
    li
      a
        white-space: pre-line
        text-decoration: none
        border-bottom: 1px solid $value-color
  .events
    @include grid-column(12)
