// Place all the styles related to the attendees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation'

.attendee-detail
  @include grid-row()
  h1, h2
    font-family: "Courier"
  .name
    @include grid-column(12)
  .profile
    @include grid-column(12)
    ul
      list-style-type: none
      li
        font-size: 16px
